filelock
fsspec
intel-openmp
Jinja2
MarkupSafe
mkl
mpmath
networkx
sympy
tbb
torch
typing_extensions
langchain
langchain-community
langchain-core
langgraph
tavily-python
langchainhub
llama-cpp-python
duckduckgo-search